.header {
  margin-bottom: 5px;
  padding-top: 75px;
  padding-bottom: 10px;
  position: relative;
}

// SLIDER

.slider {
  position: absolute;
  top: 0;
  left: 0;
}

// HEADER__TOP

.header__top {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 180px;
  height: 40px;

  &__img {
    max-width: 100%;
    min-height: 100%;
  }
}

.menu {
  margin-left: 275px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;

  &__item {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    @include roboto($style : regular);
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: yellow;
    }
  }
}

.language {
  position: relative;

  &__link {
    display: block;
    padding: 2px 4px;
    @include roboto($style : regular);
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #fff;
    position: relative;

    &:hover {
      background: rgba(#ffffff, 0.2);
    }

    &_mods {
      padding-right: 15px;

      &::after {
        display: block;
        content: "";
        width: 0;
      	height: 0;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-bottom: 6px solid #fff;
        position: absolute;
        top: 8px;
        right: 6px;
        transition: transform .3s;
      }
    }
  }

  &:hover .language__link_mods::after {
    -webkit-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }

  &__list {
    position: absolute;
    overflow: hidden;
    transition: all .3s;
    transform: rotateX(90deg);
  }

  &:hover .language__list {
    transform: rotateX(0);
  }
}

.heading {
  margin: 70px 0 0 0;
  @include roboto($style : regular);
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;

  &_mods {
    display: block;
    line-height: 60px;

    &-1 {
      text-indent: 70px;
    }

    &-2 {
      text-indent: 140px;
    }

    &-3 {
      text-indent: 210px;
    }
  }
}
